<tr>
	<td><%= rate.id %></td>
	<td><%= rate.origin.name %></td>
	<td><%= rate.target.name %></td>
	<td class='quantity'><%= @rate.price.to_f %></td>
	<% if current_user.admin? %>
    <td><%= link_to "Editar", edit_rate_path(rate), class: 'btn btn-primary btn-sm' %></td>
    <td><%= link_to "Log", rate_path(rate), class: 'btn btn-default btn-sm' %></td>
  <% end %>
</tr>
