<div class="panel panel-default">
  <div class="panel-heading">Listagem de Tarifas por Bairro</div>
  <div class="panel-body">
    <%= link_to 'Nova Tarifa', new_rate_path, class: "btn btn-primary btn-lg btn-block" %>
    <div class="table-responsive">
      <table id="list_table_price" class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Origem</th>
            <th>Destino</th>
            <th>Valor</th>
            <th colspan="3">Options</th>
          </tr>
        </thead>

        <tbody>
          <% @rates.each do |rate| %>
            <tr>
              <td><%= rate.id %></td>
              <td><%= link_to rate.origin.name, rate.origin if rate.origin.present? %></td>
              <td><%= link_to rate.target.name, rate.target if rate.target.present? %></td>
              <td><%= rate.price.to_f %></td>
              <td><%= link_to 'Show', rate, class: "btn btn-info btn-sm" %></td>
              <td><%= link_to 'Edit', edit_rate_path(rate), class: "btn btn-primary btn-sm" %></td>
              <td><%= link_to 'Destroy', rate, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>    

 <div class="pagination">
    <%= will_paginate %>
  </div> 
  </div>
</div>
