<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Tarifa do Bairro</h2>
  </div>

  <div class="panel-body">
		<p>
		  <strong>Origem:</strong>
		  <%= @rate.origin.name %>
		</p>

		<p>
		  <strong>Destino:</strong>
		  <%= @rate.target.name %>
		</p>

		<p>
		  <strong>Valor:</strong>
		  <%= @rate.price %>
		</p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Log de Modificações</div>
  <div class="panel-body">
    <div class="table-responsive">
      <table id="list_table_price" class="table table-striped">
        <thead>
          <tr>
            <th>Usuario</th>
            <th>Acao</th>
            <th>Data</th>
            <th>Modificação</th>
          </tr>
        </thead>

        <tbody>
          <% @rate.audits.where(auditable_type: 'Rate').each do |audit| %>
            <tr>
              <td><%= parse_audit_email(audit.user) %></td>
              <td><%= audit.action %></td>
              <td>
              <%#= I18n.l(audit.created_at, format: '%d/%m/%Y')%> <%#= I18n.l(audit.created_at, format: '%H:%M:%S') %>
              <%#=  Time.zone.parse(I18n.l(audit.created_at, format: '%d/%m/%Y %H:%M:%S'))  %>
              <%= Time.strptime('2016-08-25 16:10:37', '%d/%m/%Y %H:%M:%S').in_time_zone(Time.zone) %>
              </td>
              <td><%= parse_audit_rate(audit.action, audit.audited_changes)%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>    

  </div>
</div>

<div class="form-group">
  <%= link_to 'Editar',  edit_rate_path(@rate) , class: "btn btn-primary" %>
  <%= link_to 'Listar Todos', search_tax_index_path, class: "btn btn-default" %>
</div>

