<header class="banner-top">
  <div class="nav-primary-wrap">
    <div class="container">
      <nav class="nav-primary" role="navigation">
        <ul id="menu-primary-navigation" class="nav">
          <li class="menu-item menu-screencasts"><%= link_to "Home", '/' %></li>
          <% if user_signed_in? %>
            <% if current_user.admin? %>
              <li class="menu-item menu-plugins"><%= link_to "Bairros", districts_path %> </li>
              <li class="menu-item menu-books"><%= link_to "Confirmar Tarifas", table_prices_path  %></li>
              <li class="menu-item menu-books"><%= link_to "Novas Tarifas", rates_path  %></li>
              <li class="menu-item menu-books"><%= link_to "Tarifas", search_tax_index_path  %></li>
              <li class="menu-item menu-podcast"><%= link_to "Usuários", '/'  %></li>
            <% else %>
              <li class="menu-item menu-books"><%= link_to "Novas Tarifas", table_prices_path  %></li>
              <li class="menu-item menu-books"><%= link_to "Tarifas", search_tax_index_path  %></li>
            <% end %>
          <% end %>

          <% if user_signed_in? %>
            <li class="menu-item menu-podcast"><%= link_to "Sair", destroy_user_session_path, method: "delete" %></li>
          <% end %>

        </ul>
      </nav>
    </div>
  </div>
</header>

<header class="banner banner-sage" role="banner">
    <div class="container">
        <a class="project-logo" href="">
        <i class="icon-sage"></i>
        <b></b>
        <%= image_tag("logo.png", alt:"Servos Taxi") %>
        </a>
    </div>
</header>
  
